
<html xmlns:th="http://www.thymeleaf.org">
<form action="action_page.php">
    <h1>Login</h1>
    <div>

    </div>

    <div class="container">
        <label><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>

        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <button type="submit">Login</button>
        <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>


    </div>
</form>
    <div class="container" style="background-color:#f1f1f1">
        <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
    <div>
        Don't Have An Account?
        <form action="localhost:8080/signup" method="get">
        <button>Sign Up</button>
        </form>
    </div>

</html>

